Repository KhronosGroup/Vulkan-ValidationLayers, pull requests merged in 2023-08, with the labels that each got.

#6243 cmake: Add utility libraries repository dependence
  CMakeLists.txt
  layers/CMakeLists.txt
  scripts/CMakeLists.txt
  scripts/known_good.json
  tests/CMakeLists.txt
Labels: Enhancement, Build

#6287 build: Don't pass -std= in BUILD.gn
  BUILD.gn
Labels: Build

#6292 Revert "cmake: Add utility libraries repository dependence"
  CMakeLists.txt
  layers/CMakeLists.txt
  scripts/CMakeLists.txt
  scripts/known_good.json
  tests/CMakeLists.txt
Labels: Bug

#6296 android: Remove ndk-build
  BUILD.md
  build-android/jni/Android.mk
  build-android/jni/Application.mk
  build-android/jni/shaderc/Application.mk
  build-android/known_good.json
Labels: Build, Android

#6299 android: Move APK XML files
  scripts/android.py
  tests/android/AndroidManifest.xml
  tests/android/res/values/strings.xml
Labels: Android

#6301 android: Fix shaderc workaround done for Android
  tests/unit/gpu_av.cpp
Labels: Android, CI/Tests, Cleanup

#6308 android: Remove build-android from source control
  .gitignore
  build-android/AndroidManifest.xml
  build-android/res/values/strings.xml
  scripts/android.py
Labels: Android, Cleanup

#6307 tests: Remove vk_result_string
  tests/framework/render.cpp
  tests/framework/test_common.h
  tests/unit/image_positive.cpp
  tests/unit/instanceless.cpp
  tests/unit/wsi_positive.cpp
Labels: CI/Tests, Cleanup

#6313 ci: Cleanup Android CI name
  .github/workflows/vvl.yml
Labels: Android, Cleanup

#6311 tests: Remove xxhash.cpp dependency
  tests/integration/CMakeLists.txt
Labels: CI/Tests, Cleanup

#6339 ci: Set environment variables for the entire workflow
  .github/workflows/vvl.yml
Labels: CI/Tests, Cleanup

#6365 tests: Profiles no longer depends on VVL
  .github/workflows/vvl.yml
  tests/integration/main.cpp
Labels: Build

#6298 build: Add utility libraries repository dependence
  BUILD.gn
  CMakeLists.txt
  layers/CMakeLists.txt
  scripts/CMakeLists.txt
  scripts/gn/secondary/build_overrides/vulkan_utility_libraries.gni
  scripts/gn/secondary/build_overrides/vulkan_validation_layers.gni
  scripts/known_good.json
  tests/CMakeLists.txt
Labels: Enhancement

#6245 Using VK_EXT_layer_settings from the layer settings lib
  BUILD.gn
  layers/CMakeLists.txt
  layers/error_message/logging.h
  layers/layer_options.cpp
  layers/layer_options.h
  layers/vk_layer_settings_ext.h
  layers/vulkan/generated/chassis.cpp
  layers/vulkan/generated/chassis.h
  layers/vulkan/generated/stateless_validation_helper.cpp
  scripts/generators/layer_chassis_generator.py
  scripts/generators/stateless_validation_helper_generator.py
  scripts/known_good.json
  tests/framework/layer_validation_tests.cpp
  tests/framework/layer_validation_tests.h
  tests/framework/render.cpp
  tests/framework/test_framework.cpp
  tests/unit/best_practices.cpp
  tests/unit/others.cpp
Labels: Enhancement

#6385 build: Remove vk_enum_string_helper.h from VVL
  BUILD.gn
  layers/CMakeLists.txt
  layers/core_checks/cc_android.cpp
  layers/core_checks/cc_buffer.cpp
  layers/core_checks/cc_cmd_buffer.cpp
  layers/core_checks/cc_cmd_buffer_dynamic.cpp
  layers/core_checks/cc_copy_blit_resolve.cpp
  layers/core_checks/cc_device.cpp
  layers/core_checks/cc_device_memory.cpp
  layers/core_checks/cc_external_object.cpp
  layers/core_checks/cc_image.cpp
  layers/core_checks/cc_image_layout.cpp
  layers/core_checks/cc_pipeline.cpp
  layers/core_checks/cc_pipeline_compute.cpp
  layers/core_checks/cc_pipeline_graphics.cpp
  layers/core_checks/cc_pipeline_ray_tracing.cpp
  layers/core_checks/cc_query.cpp
  layers/core_checks/cc_queue.cpp
  layers/core_checks/cc_ray_tracing.cpp
  layers/core_checks/cc_render_pass.cpp
  layers/core_checks/cc_shader_interface.cpp
  layers/core_checks/cc_spirv.cpp
  layers/core_checks/cc_synchronization.cpp
  layers/core_checks/cc_video.cpp
  layers/core_checks/cc_wsi.cpp
  layers/error_message/logging.cpp
  layers/vulkan/generated/chassis.h
  layers/vulkan/generated/vk_enum_string_helper.h
  scripts/generate_source.py
  scripts/generators/enum_string_helper_generator.py
  scripts/generators/layer_chassis_generator.py
  tests/CMakeLists.txt
  tests/framework/test_common.h
  tests/integration/main.cpp
  tests/unit/sync_val.cpp
Labels: Build, Cleanup

#6396 cmake: Remove CMakePresets.json
  BUILD.md
  CMakePresets.json
Labels: Build

#6397 android: Remove dependency on strings.xml
  scripts/android.py
  tests/android/AndroidManifest.xml
Labels: Build, Android, Cleanup

#6393 corechecks: Fix perf regression from shader object validation
  layers/core_checks/cc_descriptor.cpp
  layers/core_checks/cc_drawdispatch.cpp
  layers/core_checks/core_validation.h
Labels: Performance

#6391 layers: Give better Location names
  layers/core_checks/cc_buffer.cpp
  layers/core_checks/cc_cmd_buffer.cpp
  layers/core_checks/cc_copy_blit_resolve.cpp
  layers/core_checks/cc_descriptor.cpp
  layers/core_checks/cc_device.cpp
  layers/core_checks/cc_device_memory.cpp
  layers/core_checks/cc_image.cpp
  layers/core_checks/cc_pipeline_compute.cpp
  layers/core_checks/cc_pipeline_graphics.cpp
  layers/core_checks/cc_pipeline_ray_tracing.cpp
  layers/core_checks/cc_query.cpp
  layers/core_checks/cc_ray_tracing.cpp
  layers/core_checks/cc_render_pass.cpp
  layers/core_checks/cc_shader_object.cpp
  layers/core_checks/cc_spirv.cpp
  layers/core_checks/cc_wsi.cpp
  layers/core_checks/cc_ycbcr.cpp
  layers/core_checks/core_validation.h
  layers/stateless/sl_buffer.cpp
  layers/stateless/sl_cmd_buffer.cpp
  layers/stateless/sl_cmd_buffer_dynamic.cpp
  layers/stateless/sl_descriptor.cpp
  layers/stateless/sl_device_memory.cpp
  layers/stateless/sl_image.cpp
  layers/stateless/sl_instance_device.cpp
  layers/stateless/sl_pipeline.cpp
  layers/stateless/sl_ray_tracing.cpp
  layers/stateless/sl_render_pass.cpp
  layers/stateless/sl_shader_object.cpp
  layers/stateless/sl_wsi.cpp
  layers/sync/sync_validation.cpp
Labels: Cleanup
